@model ContactUsViewModel;
@{
	ViewData["Title"]="Help";
}
<div class="about">
	<div class="w3_agileits_contact_grids">
		<div class="col-md-6 w3_agileits_contact_grid_left">
			<div class="agile_map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3905851087434!2d-34.90500565012194!3d-8.061582082752993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18d90992e4ab%3A0x8e83c4afabe39a3a!2sSport+Club+Do+Recife!5e0!3m2!1sen!2sin!4v1478684415917" style="border:0"></iframe>
			</div>
			<div class="agileits_w3layouts_map_pos">
				<div class="agileits_w3layouts_map_pos1">
					<h3>Contact Info</h3>
					<p>1234k Avenue, 4th block, New York City.</p>
					<ul class="wthree_contact_info_address">
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
						<li><i class="fa fa-phone" aria-hidden="true"></i>+(0112) 123 7611</li>
					</ul>
					<div class="w3_agile_social_icons w3_agile_social_icons_contact">
						<ul>
							<li><a href="#" class="icon icon-cube agile_facebook"></a></li>
							<li><a href="#" class="icon icon-cube agile_rss"></a></li>
							<li><a href="#" class="icon icon-cube agile_t"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 w3_agileits_contact_grid_right">
			<h2 class="w3_agile_header">Leave a<span> Message</span></h2>

			<form method="post" asp-area="UI" asp-controller="Auth" asp-action="ContactUs" asp-antiforgery="true">
				<div asp-validation-summary="ModelOnly" class="rerror"></div>
               <div class="form-group">
                    <span class="input input--ichiro">
                        <input asp-for="Name" class="input__field input__field--ichiro form-control" placeholder="Name" />
                        <label asp-for="Name" class="input__label input__label--ichiro form-label" >
                            <span class="input__label-content input__label-content--ichiro">Your Name</span>
                        </label>
                    </span>
					<span asp-validation-for="Name" class="rerror"></span>
			   </div>
				<div class="form-group">
					<span class="input input--ichiro">
						<input asp-for="Email" class="input__field input__field--ichiro form-control " placeholder="Email"  />
						<label asp-for="Email" class="input__label input__label--ichiro">
							<span class="input__label-content input__label-content--ichiro">Your Email</span>
						</label>
					</span>
					<span asp-validation-for="Email" class="rerror"></span>
				</div>
				<div class="form-group">
					<textarea asp-for="Message" placeholder="Your message here..." ></textarea>
					<span asp-validation-for="Message" class="rerror"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Submit">
				</div>
			
			</form>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
@section Scripts{
	<Partial name="_ValidationScriptsPartial" />
}