@{
    ViewData["Title"] = "Profile";
}
<section>
    <!--Image-->
    <div class="roles">
        <div class="user-photo">
        </div>
        <div class="user-socialmedia">

        </div>
    </div>
    <div class="roles">
        <div class="about-user">

        </div>
    </div>
</section>







