.bi{
    font-size:1.3rem !important;
}
.Profie{
    padding:6px;
}
.user-photo, .user-media, .about-user {
    position: relative;
}
    .user-photo .bi-pencil-square, .user-media .bi-pencil-square, .about-user .bi-pencil-square {
        position: absolute;
        top: 0px;
        right: 20px;
        cursor: pointer;
    }
    .user-socialmedia {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
.user-socialmedia a i {
     font-size: 2.4rem;
    }
.name{
    margin-top:15px;
}
.about {
    font-size: 1.2rem;
    opacity: 0.5;
    text-align: center;
    padding: 17px;
}
.uploadlabel {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #e5e6e7;
}
    .uploadlabel span i {
        font-size: 2.2rem !important;
        color: #006df0;
        cursor: pointer;
    }
.uploadlabel 