.bi{
    font-size:1rem;
}
.Profie{
    padding:6px;
}
.user-photo, .user-media, .about-user {
    position: relative;
}
    .user-photo .bi-pencil-square, .user-media .bi-pencil-square, .about-user .bi-pencil-square {
        position: absolute;
        top: 0px;
        right: 20px;
        cursor:pointer
    }
    .user-socialmedia {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
.user-socialmedia a i {
     font-size: 2.4rem;
    }
.name{
    margin-top:15px;
}
.about {
    font-size: 1.2rem;
    opacity: 0.5;
    text-align: center;
}