
@{
    ViewData["Title"]="Add Book";
}
<section>
    <form method="post" asp-controller="Book" asp-action="Create" asp-antiforgery="true"  enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
              <label class="form-label"></label>
              <input    class="form-control" placeholder="Book Of Name"/>
             <span asp-validation-for=" " class="text-danger" ></span>
          </div>
          <div class="form-group">
               <lable class="form-label"></lable>
               <textarea class="form-control" cols="10" rows="10" placeholder="Description of Book"></textarea>
               <span asp-validation-for="" class="text-danger"></span>
          </div>
          <div class="form-group">
                <lable class="form-label"></lable>
                <input type="file" class="form-control" placeholder="Cover Book"/>
            <span asp-validation-for="" class="text-danger"></span>
            </div>
            <div class="form-group">
                <lable class="form-label"></lable>
                <input type="file" class="form-control" placeholder="Book"/>
                <span asp-validation-for="" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <lable class="form-label"></lable>
                <input type="text" class="form-control" placeholder="username" value="@(User.Identity.Name)"/>
            </div>
             <div class="form-group">
            <input class="btn btn-primary" value="Save" style="background-color: #006df0;outline: none;" />
             </div>
    </form>
</section>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@section Scripts{

}