@{
    ViewData["Title"] = "Books";
}
<style>
    .boxHeadlineSub {
        text-align: center;
        margin-top: 4%;
        height: 27%;
        width: 100%;
        line-height: 17px;
    }
</style>
<section class="row roles" id="books">
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var currentPage = 1;
            LoadData(currentPage)
            function LoadData(currentPage) {
                $.ajax({
                    url: '/Book/GetAll',
                    method: 'post',
                    data: { CurrentPage: currentPage, PageSize: 4 },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        var $books = $("#books");
                        var html = "";
                        $.each(data, function (index, book) {
                            html += `<div class="col-md-3 col-sm-4 col-xs-6  roles" style = "margin-bottom: 24px; cursor:pointer" >`;
                            html += ` <div class="card" style="text-align: center;">`;
                            html += ` <img src="${book.cover}" class="card-img-top img-fluid img-thumbnail" alt="Cover Image"style="width: 183px;height: 275px; ">`;
                            html += `   <div class="boxHeadlineSub" style="padding: 12px;">`;
                            html += `  <h5 class="card-title">${book.name}</h5>`;
                     
                            html += `</div>`;
                            html += '<div style="display: flex;justify-content: space-evenly;">';
                            html += `<a title="View Videos" href="/book/viewBook" class="btn btn-primary" style="background-color: #006df0;"><i class="bi bi-eye-fill"></i></a>`;
                            html += `</div>`;
                            $books.append(html);
                            html = "";
                        })
                    }
                })
            }
        })

    </script>
}

