@{
    ViewData["Title"] = "Course";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="product-payment-inner-st">
        <ul id="myTabedu1" class="tab-review-design">
            <li class="active"><a href="#description">Add Title</a></li>
            <li class=""><a href="#reviews"> Add Course</a></li>
        </ul>
        </div>
        </div>
